<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calendar" class="ru.polynkina.irina.beans.SAPCalendar">
        <constructor-arg>
            <list>
                <value>RU</value>
                <value>RB</value>
                <value>RT</value>
                <value>RC</value>
                <value>RI</value>
                <value>RD</value>
                <value>RK</value>
                <value>RS</value>
                <value>YF</value>
                <value>RA</value>
                <value>RE</value>
                <value>RF</value>
                <value>RH</value>
                <value>RL</value>
                <value>RP</value>
                <value>RV</value>
                <value>RZ</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="year" class="ru.polynkina.irina.beans.MinMaxYear">
        <constructor-arg index="0" value="2018"/>
        <constructor-arg index="1" value="2118"/>
    </bean>

    <bean id="normTime" class="ru.polynkina.irina.beans.MinMaxNormTime">
        <constructor-arg index="0" value="104"/>
        <constructor-arg index="1" value="200"/>
    </bean>

    <bean id="dates" class="ru.polynkina.irina.beans.UserDates">
        <constructor-arg value="8"/>
    </bean>

</beans>